<h1>List of Users</h1>

<%= link_to "Create User", new_user_path %>

<ul>
  <% @users.each do |user| %>
    <li>
      <%= user.first_name %> <%= user.last_name %> | <a href="mailto:<%= user.email %>">Send Email</a> | <%= link_to "View Profile", user %>
    </li>
  <% end %>
</ul>
